*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#myVideo{
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
a{
    text-decoration: none;
    color: black;
}

img{
    border-radius: 5%;
    object-fit: cover;
}



        /*Esto sera la cabecera*/ 
header {
    /*visibility: hidden;*/ /*OCULTAR MENU FIJO*/
    position: fixed; 
    top: 0; 
    width: 100%;
    height: 15%;
    background-color: rgba(255, 255, 255, 0.816);
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
    font: bold 150% monospace;
    
}
header > :nth-child(n){
    height: 100%;
    float: left;
}
header > :nth-child(1){
    width:20%;
    background-size: 100px 100px; 
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    /*background-color: black;*/
}
header > :nth-child(2){
    width:65%;
    display: flex;
    color: black
    /*background-color: blue;*/
}
header > :nth-child(2) > a{
    margin: auto;
}
header > :nth-child(3){
    width:15%;
    /*background-color: red;*/
}
header > :nth-child(3) > a > img{
    width: 35px;
    height: 35px;
    float: right;
    margin-top: 10px;
}
nav{
    clear: left;
    text-align: center;
    position: absolute; 
    top: 15%; 
    width: 100%;
    height: 10%;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
    display: flex;
    background-color: rgba(255, 255, 255, 0.816);
}
nav  > :nth-child(n){
    margin: auto;
    justify-content: space-between;
} 
/* Pendiente de revisión*/
nav > a>p:hover{
    font-size: larger;
    color:rgba(0, 0, 255, 0.542);
}




        /*Cuerpo de pagina*/
.space{
    margin-top:250px;
    width: 100%;
}

/*Inicio de mapa*/
.mapamundi{
    width: 100%;
    height: 500px;
}
.mapa{
    padding-top: 100px;
    margin: auto;
    height: 300px;
	text-align:center;
}
.mapa > img {
    height: 100%;
    vertical-align: middle;
}
/*Fin de mapa*/

/*Inico de ofertas*/
.ofertas{
    width: 100%;
    height: 250px;
}

.firstofer{
    
    margin-top: 60px;
    margin-left: 3%;
    width: 30%;
    height: 50%;
    float: left;
    text-align: center;
}

.tituoferta{
    
    margin-top: 60px;
    float: left;
    width: 30%;
    height: 50%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

.secondofer{
    
    margin-top: 60px;
    margin-right: 1%;
    width: 30%;
    height: 50%;
    float: left;
    text-align: center;
}
/*Fin de ofertas*/

/*Inicio de descubrir*/
.titulodescubre{
    width: 100%;
    height: 60px;
    text-align: center;
}

.titulodescubre h2{
    margin-top: 30px;
    font-size: 40px;
    -webkit-text-stroke: 0.5px white;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.467);
}
.descubreoption{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}

.descubreoption article img:nth-child(n){
    display: flex;
    object-fit: cover;
    width:100%;
    height: 180px;
}

.descubreoption article p:nth-child(n){
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
}

.descubreoption article:nth-child(n){
    margin-left: 1%;
    margin-right: 1%;
    flex: 20%;
    justify-content: center; 
}
/*Fin de descubrir*/


/*FormularioCompra.html*/
.section_formCompra{
    width: 100%;
    height: 100%; 
    /*background-color: red;*/
    
}
.section_formCompra > .formCompra{
    padding: 10% 10%;
    margin: auto;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.816);
	text-align:none;
}
.section_formCompra > .formCompra >*{
    vertical-align: middle;
    background-color:white;
    padding: 10% 10%;
    border-radius: 5%;
}
.formCompra_inter{
    margin: 0 20%;
}
.formCompra_inter > input{
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
    background-color: #1884baa8;
    border-radius: 6px;
    border: 2px solid #0015b059;
    width:max-content;
    font-weight: 600; 
    font-size: large;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.formCompra_inter > input:hover{
    color: #1883ba;
    background-color: #ffffff;
}
.formCompra_seguro{
    text-align: right;
    font-size: larger;
}


fieldset, tr, th, td{
    border-radius: 5%;
}
table {
    width: 100%;
    border: 1px solid #000;
}
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
}
caption {
    padding: 0.3em;
    color: #fff;
    background: #1883ba;
}
th {
    background: #eee;
}

/*----------------------*/
/*----------------------*/


/* Esto el pie de página*/
.pie{
    width: 100%;
    height: 150px;
    position:relative;
    background-color:rgba(45,62,80,255) ;
    color: white;
    padding-top:none;
}

.pie img{
    width: 75px;
    height: 75px;
}

.pie > :nth-child(n){
    float: left;
    text-align: center;
}
.pie > :nth-child(1){
    width: 30%;
}
.pie > :nth-child(2){
    width: 40%;
}
.pie > :nth-child(3){
    width: 30%;    
}



/* Ventana Modal */
#miModal:target, #Ayuda:target{
    opacity:1;
    pointer-events:auto;
}
.modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0; 
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}
.modal-all{
    background-color:rgba(255, 255, 255, 0.816);
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    border-radius: 5%;
}
.modal-login{
    width:300px; 
}
.modal-ayuda{
    width:80%;
}
.modal-all > a > p{
    text-align: right;
    font: bold 100% monospace;
}
.modal-all > label{
    font-size: larger;
}
.modal-all > input{
    text-decoration: none;
    padding: 5px;
    font-weight: 600; 
    font-size: large;
    color: #ffffff;
    background-color: #1884baa8;
    border-radius: 6px;
    border: 2px solid #0015b059;
}
.modal-ayuda > input[type="text"]{
    width: 80%;
}
.modal-all > input:hover{
    color: #1883ba;
    background-color: #ffffff;
}
.modal-busquedas{
    width: 100%;
    height:170px;
    text-align: center;
}
.modal-busquedas > div:nth-child(n){
    width: 30%;
    margin-left: 2%; 
    float: left;
    height: 100px; 
    background-color: rgba(128, 128, 128, 0.433);
    border-radius: 5%;
    
}
.modal-busquedas > div:nth-child(n)>p{
    font-size: larger;
}
.modal-busquedas > div:nth-child(n):hover {
    transform:scale(1.1);
}
.contenedor {
    overflow:hidden;
}




/* Paginador */
.principalofertlist{
    width:98%;
    height: 100%;
    display: flex;
    border: solid 1px black;
    margin-top: 10px;
    margin: 1%;
    background-color: #c4e0e5ec;
}

.principalofertlist input{
    background-color: #4CAF50; 
    border: 2px solid #4CAF50;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    position: relative;
    top:85%;
    right: 10%;
}

.principalofertlist input:hover{
    background-color:#579759;
    color: white;
}

.principalofertlist article:nth-child(1){
    height: 200px;
    width: 200px;
    margin: 1%;
}


.principalofertlist article:nth-child(2){
    height: 200px; 
    width: 79%;
    display: flex;
    
}

.principalofertlist article article:nth-child(1){
    height: 175px;  
    width: 100%;
    
}
.principalofertlist article article:nth-child(2){
    height: 50px;  
    width: 30%;
    position: relative;
    left: 30%;
}

.Precio{
    position: relative;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    right: 150%;
    top:300%;
}

.principalofertlist article article:nth-child(3){
    position: relative;
    top:0%;
}