.header {
    width: auto;
    height: 20%;
    border: 2px solid black;
} 
.menu {
    width: auto;
    height: 10%;
    border: 2px solid black;
}
.cuerpo {
    width: auto;
    height: 60%;
    border: 2px solid black;
}
.pie {
    width: auto;
    height: 10%;
    border: 2px solid black;
}

